<phpunit 
    bootstrap="../vendor/autoload.php" 
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutTestSize="true"
    >
  <testsuites>
    <testsuite name="phpunit">
        <directory>tests/phpunit</directory>
    </testsuite>
  </testsuites>
</phpunit>
